<p id="notice"><%= notice %></p>

<p>
  <b>Car model:</b>
  <%= @car.car_model %>
</p>

<p>
  <b>Number:</b>
  <%= @car.number %>
</p>

<p>
  <b>Color:</b>
  <%= @car.color %>
</p>

<p>
  <b>Driver:</b>
  <%= @car.driver_id %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
